<footer class="modal-footer bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        © 2023 Company, Inc
      </div>
      <div class="col-sm-2 text-end">
        <a href="https://www.twitter.com/"><img src=""><img src="../../../../img/twitter.png" height="30" width="30"/></a>
        <a href="https://instagram.com/"><img src=""><img src="../../../../img/instagram.png" height="30" width="30"/></a>
        <a href="https://www.facebook.com/"><img src="../../../../img/facebook.png" height="30" width="30"></a>
      </div>
    </div>
  </div>
</footer>
