<body>
  <div id="cuerpo">
    <div class="row">
      <div class="col">
        <app-recuadro [boton]="boton" [tituloT]="cabeceraDAM" [datosT]="datosDAM" ></app-recuadro>
      </div>
      <div class="col">
         <app-recuadro [boton]="boton" [tituloT]="cabeceraDAW" [datosT]="datosDAW"></app-recuadro>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <app-recuadro [boton]="boton" [tituloT]="cabeceraASIR" [datosT]="datosASIR"></app-recuadro>
      </div>
      <div class="col">
        <app-recuadro [boton]="boton" [tituloT]="cabecera" [datosT]="datos"></app-recuadro>
      </div>
    </div>
  </div>
</body>
